{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h1>About brokerr</h1>
<p>brokerr provides insurance against unexpected tracker closure by periodically logging in to your trackers and taking
    screenshots of your stats pages. If the worst happens and your tracker shuts down unexpectedly, you'll have heaps of
    photo evidence showing your hard work to help in achieving favorable refugee status.</p>
<p>As a fringe benefit, these automatic logins will also protect your accounts from being pruned due to inactivity.
    Score.</p>

{% endblock %}