{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Your trackers</h1>

{% if has_trackers %}

<ul>
    {% for tracker in trackers %}
    <li>
        <h2><a href="{{ url_for('tracker.tracker', tracker_name=tracker['name']) }}">{{ tracker['name'] }}</a></h2>
    </li>
    {% endfor %}
</ul>

{% else %}


<div class="alert alert-danger">
    You don't have any trackers configured yet. Why don't you <a href="{{ url_for('settings.tracker_settings') }}"
        class="alert-link">visit the tracker settings
        page</a> and set some up.
</div>


{% endif %}
{% endblock %}