{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="d-flex p-2">
    <div class="me-auto">
        <h1>Master Password</h1>
    </div>
</div>

<ul id="settings-nav" class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{url_for('settings.tracker_settings')}}">Trackers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{url_for('settings.torrent_clients')}}">Torrent Clients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Master Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{url_for('settings.tasks')}}">Tasks</a>
    </li>
</ul>

<div class="alert alert-primary mx-5 my-3">
    <p>brokerr takes its security seriously.</p>
    <p>Your sensitive credentials (usernames, passwords, API keys) are never
        transmitted out of the docker container. They're also never stored in plaintext. Similar to password managers
        like
        LastPass or KeePass, brokerr uses your Master Password to encrypt all sensitive information.</p>
    <p>If you ever lose your master password, you'll lose access to all your previously entered credentials. You'll have
        to setup a new master password and re-enter all credentials before brokerr will function again.</p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form id="passwordForm" class="mb-5">
                <fieldset>
                    {% if is_master_password_set %}
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="currentPassword" autocomplete="off" required>
                        <label for="currentPassword">Current Password</label>
                    </div>
                    {% endif %}
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="password" name="password" required>
                        {% if is_master_password_set %}
                        <label for="password">New Password</label>
                        {% else %}
                        <label for="password">Password</label>
                        {% endif %}
                        <small id="passwordHelp" class="form-text text-muted"></small>
                    </div>

                    <div class="form-floating mb-2">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            required>
                        <label for="confirmPassword">Confirm Password</label>
                    </div>

                </fieldset>
                <div class="col-md-2 ms-auto">
                    <button type="button" class="btn btn-primary p-2" id="btnSubmit" style="width:100%"
                        onclick="validatePassword()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // Add event listeners to check password complexity and length dynamically
    document.getElementById("password").addEventListener("input", checkPassword);
</script>

{% endblock %}