{% extends "base.html" %}

{% block head %}{% endblock %}

{% block title %}
{{tracker}}
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="captureModal" tabindex="-1" aria-labelledby="captureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="captureModalLabel">Capture complete</h1>
                <button type="button" class="btn-close modal-x" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="captureModalMessage"></p>
                <p>
                    Reload to see new screenshot(s)
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Reload</button>
            </div>
        </div>
    </div>
</div>


<div class="d-flex">
    <div class="me-auto p-2">
        <h1>{{ tracker }}</h1>
    </div>
    <div class="p-2">
        <button id="captureButton" type="button" class="btn btn-secondary btn-lg" onclick="captureProof('{{tracker}}')">
            <span class="spinner-border spinner-border-sm visually-hidden" aria-hidden="true"></span>
            <span class="visually-hidden" role="status">Capturing...</span>
            <span>Capture Now</span>
        </button>
    </div>
</div>

<h2>Stats</h2>
<h3>Last Insured:</h3>
{% if last_insured %}
<p>{{last_insured}}</p>
{% else %}
<p class="text-warning">Not yet insured. Click "Capture Now" button to screenshot your important stats.</p>
{% endif %}
<h3>Number of Times Insured:</h3>
{% if num_insured %}
<p>{{num_insured}}</p>
{% else %}
<p class="text-warning">Zilch</p>
{% endif %}

<h2>Screenshots</h2>
<p class="p-close">Here are the 10 most recent images. To see more, open the <span
        class="text-danger-emphasis">/config/screenshots/{{tracker}}</span> directory.</p>
<p class="p-close text-body-secondary">Note that screenshot length will be cut off when previewing on this page. They're
    just
    really long. When you download them, you'll see the full length.</p>

{% if has_images %}

<div class="container">
    <div class="row mx-auto my-auto justify-content-center">
        <div id="imageCarousel" class="carousel slide">
            <div class="carousel-inner">
                {% for image in images %}

                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="col-md-6 mx-1 tracker-card-outer">
                        <div class="card text-bg-dark tracker-card-inner">
                            <div class="card-body">
                                <p class="card-text p-close">
                                    <a href="{{ url_for('api.get_image', tracker_name=tracker, filename=image.filename) }}"
                                        class="btn btn-dark download-button" role="button"
                                        download="{{image.filename}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path
                                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                            <path
                                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                                        </svg>
                                        &nbsp;Download
                                    </a>
                                </p>
                                <p class="card-text"><small class="text-body-secondary">Captured x/x/x</small></p>
                            </div>
                            <img src="{{ url_for('api.get_image', tracker_name=tracker, filename=image.filename) }}"
                                alt="{{ image.filename }}" class="card-img-bottom d-block w-100">
                        </div>
                    </div>

                </div>

                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


{% else %}
<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">You're uninsured!</h4>
        <p class="card-text">brokerr hasn't captured any images from this tracker yet</p>
    </div>
</div>
{% endif %}


{% endblock %}