{% extends "base.html" %}
{% include "tracker_modal.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="d-flex p-2">
    <div class="me-auto">
        <h1>Trackers</h1>
    </div>
    <div>
        <button id="btnAddTracker" type="button" class="btn btn-secondary btn-lg" onclick="showAddTrackerModal()" {% if
            button_disabled%}disabled{% endif %}>
            <span>Add Tracker</span>
        </button>
    </div>
</div>

<ul id="settings-nav" class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Trackers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{url_for('settings.torrent_clients')}}">Torrent Clients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{url_for('settings.master_password')}}">Master Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{{url_for('settings.tasks')}}">Tasks</a>
    </li>
</ul>

<!-- Tracker Modal -->
{% block modal %}{% endblock %}

<!-- Main page body -->
{% if is_master_password_set == False %}

<div class="alert alert-danger mx-5 my-3">
    <p>Your master password is not set. Unable to add or modify trackers until a master password is set.</p>
    <p>
        <a href="{{url_for('settings.master_password')}}">Set master password</a>
    </p>
</div>

{% else %}



{% endif %}

{% endblock %}